---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_15sS3cD95LOA8PWp97Kgi3Gf&description=Sign%20up%20charge%20for%20
    headers:
      Authorization:
      - Bearer sk_test_HBGqICPTuTaM9AoQVEMs4DhY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-26'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15sS3jD95LOA8PWphA63Ja03"
          }
        }
  recorded_at: Fri, 17 Apr 2015 05:30:35 GMT
recorded_with: VCR 2.9.3
