---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_HBGqICPTuTaM9AoQVEMs4DhY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-26'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15uau1D95LOA8PWpRz7GFFeZ",
          "livemode": false,
          "created": 1429759285,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15uau1D95LOA8PWpyYJhl1Gp",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "fX4o2X0noYhwqiLH",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "120.101.43.86"
        }
  recorded_at: Thu, 23 Apr 2015 03:21:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_15uau1D95LOA8PWpRz7GFFeZ&description=Sign%20up%20charge%20for%20orval%40schoencrona.biz
    headers:
      Authorization:
      - Bearer sk_test_HBGqICPTuTaM9AoQVEMs4DhY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-26'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15uau2D95LOA8PWpuRC7nv7Y"
          }
        }
  recorded_at: Thu, 23 Apr 2015 03:21:26 GMT
recorded_with: VCR 2.9.3
