---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_HBGqICPTuTaM9AoQVEMs4DhY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-26'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15rfmwD95LOA8PWpa9aWl28W",
          "livemode": false,
          "created": 1429063082,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15rfmwD95LOA8PWpXoy7IgY9",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "Vp5hLO9Uixc1jjPR",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "120.101.45.72"
        }
  recorded_at: Wed, 15 Apr 2015 01:58:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_15rfmwD95LOA8PWpa9aWl28W&description=Sign%20up%20charge%20for%20maye_west%40metzwhite.biz
    headers:
      Authorization:
      - Bearer sk_test_HBGqICPTuTaM9AoQVEMs4DhY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-26'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15rfmzD95LOA8PWpVk6WKY7B",
          "object": "charge",
          "created": 1429063085,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15rfmwD95LOA8PWpXoy7IgY9",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "Vp5hLO9Uixc1jjPR",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "card": {
            "id": "card_15rfmwD95LOA8PWpXoy7IgY9",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "Vp5hLO9Uixc1jjPR",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "balance_transaction": "txn_15rfmzD95LOA8PWpM1phEVdt",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for maye_west@metzwhite.biz",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15rfmzD95LOA8PWpVk6WKY7B/refunds",
            "data": []
          }
        }
  recorded_at: Wed, 15 Apr 2015 01:58:05 GMT
recorded_with: VCR 2.9.3
