---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_HBGqICPTuTaM9AoQVEMs4DhY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-26'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15udZED95LOA8PWpyNpLQr85",
          "livemode": false,
          "created": 1429769528,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15udZED95LOA8PWp1HmSe0pE",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "Vp5hLO9Uixc1jjPR",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "120.101.43.86"
        }
  recorded_at: Thu, 23 Apr 2015 06:12:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15udZED95LOA8PWpyNpLQr85&plan=basic&email=vincent%40luettgen.net&description=Subscripttion%20of%20'Miss%20Karelle%20Crist'
    headers:
      Authorization:
      - Bearer sk_test_HBGqICPTuTaM9AoQVEMs4DhY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-26'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1429769529,
          "id": "cus_66rHb1k6fDvAlr",
          "livemode": false,
          "description": "Subscripttion of 'Miss Karelle Crist'",
          "email": "vincent@luettgen.net",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_66rHb1k6fDvAlr/subscriptions",
            "data": [
              {
                "id": "sub_66rHLM8GwOacQa",
                "plan": {
                  "interval": "month",
                  "name": "Basic",
                  "created": 1429754701,
                  "amount": 999,
                  "currency": "usd",
                  "id": "basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1429769529,
                "status": "active",
                "customer": "cus_66rHb1k6fDvAlr",
                "cancel_at_period_end": false,
                "current_period_start": 1429769529,
                "current_period_end": 1432361529,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_66rHb1k6fDvAlr/cards",
            "data": [
              {
                "id": "card_15udZED95LOA8PWp1HmSe0pE",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "Vp5hLO9Uixc1jjPR",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_66rHb1k6fDvAlr"
              }
            ]
          },
          "default_card": "card_15udZED95LOA8PWp1HmSe0pE",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_66rHb1k6fDvAlr/sources",
            "data": [
              {
                "id": "card_15udZED95LOA8PWp1HmSe0pE",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "Vp5hLO9Uixc1jjPR",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_66rHb1k6fDvAlr"
              }
            ]
          },
          "default_source": "card_15udZED95LOA8PWp1HmSe0pE"
        }
  recorded_at: Thu, 23 Apr 2015 06:12:10 GMT
recorded_with: VCR 2.9.3
