---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_HBGqICPTuTaM9AoQVEMs4DhY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-26'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15rfn3D95LOA8PWpImJIUo2X",
          "livemode": false,
          "created": 1429063089,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15rfn3D95LOA8PWpmzWkhagI",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "fX4o2X0noYhwqiLH",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "120.101.45.72"
        }
  recorded_at: Wed, 15 Apr 2015 01:58:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_15rfn3D95LOA8PWpImJIUo2X&description=Sign%20up%20charge%20for%20syble.bednar%40mayer.name
    headers:
      Authorization:
      - Bearer sk_test_HBGqICPTuTaM9AoQVEMs4DhY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-26'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15rfn4D95LOA8PWpX8uRsYyJ"
          }
        }
  recorded_at: Wed, 15 Apr 2015 01:58:10 GMT
recorded_with: VCR 2.9.3
